body
    font-family: sans-serif
    margin: 0
#root
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

.hidden
    display: none

.game
    width: 900px
    min-height: 600px
    background-color: whitesmoke
    position: relative
    display: grid
    align-items: center
    margin: 0 auto;

    .my-stats
    .enemy-stats
        position: absolute
        background-color: white
        border-radius: 10px
        min-width: 120px
        box-shadow: 0 0 10px 0px #afafaf

    .my-stats
        bottom: 15px
        right: 15px

    .enemy-stats
        top: 15px
        left: 15px

        &.attack-mode
            background-color: tomato
            cursor: pointer
            color: white

            &:hover
                opacity: 0.7

    .actions-container
        position: absolute
        right: 8px
        min-width: 120px
        display: flex;
        flex-direction: column;

    .cards-container
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto;
        flex-wrap: wrap;
        max-width: 70%;

    .field

        .enemy-field.attack-mode div:not(.empty-item)
            background-color: tomato
            cursor: pointer

            &:hover
                opacity: 0.7

        .friendly-field, .enemy-field
            display: grid
            grid-auto-flow: column
            grid-gap: 5px
            justify-items: center
            width: 70%
            margin: 9px auto

        .field-item
            background-color: lightgrey
            width: 120px
            height: 150px
            display: grid
            justify-items: center
            align-items: center