.fire
    background-color: rgb(255, 125, 125)

.water
    background-color: rgb(125, 204, 255)

.wind
    background-color: rgb(176, 255, 170)

.life
    background-color: rgb(240, 255, 149)

.death
    background-color: rgb(180, 180, 180)

.neutral
    background-color: rgb(242, 198, 166)



body
    font-family: sans-serif
    margin: 0
#root
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
button
.button-like
    background-color: rgb(42, 90, 162)
    border: none
    border-radius: 10px
    padding: 20px
    color: white
    cursor: pointer
    min-width: 200px
    display: inline-block
    text-decoration: none

    &:hover
        opacity: 0.7

    &:active
        background-color: rgb(0, 98, 139)

    &:disabled
        background-color: rgb(105, 102, 102)
        opacity: 0.7
        cursor: not-allowed

input:not([type='submit']), textarea
    padding: 20px
    border-radius: 10px
    font-size: 15pt
    border: 1px solid lightgrey
    width: 100%
    box-sizing: border-box

input[type='submit']
    padding: 20px
    border: none
    font-size: 16px

.hidden
    display: none

.boxy-link
    color: white
    text-decoration: none
    padding: 20px 0
    width: 100%
    text-align: center
    background-color: #444444

    &:hover
        background-color: #2e2e2e

    &:active
        color: whitesmoke
        background-color: #000000

.page
    box-shadow: 0 0 30px 0 lightgrey
    padding: 50px
    border-radius: 10px
    text-align: center
    margin: 0 auto;

    h1
        margin-top: 0

.margin-bot
    margin-bottom: 20px

.error-message
    color: tomato
    font-size: 14pt
    text-align: center

.success-message
    color: green
    font-size: 14pt
    text-align: center

.winner-message
.loser-message
    font-size: 18pt
    text-align: center

.winner-message
    color: green

.loser-message
    color: tomato

.welcome-page
    min-width: 250px
    max-width: 550px

    .link-container
        display: flex
        flex-direction: column

        a:not(:last-child)
            margin-bottom: 10px

.register-page
    min-width: 250px
    max-width: 550px

    form
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center

        input
            width: 100%

        .submit-button
            cursor: pointer
            background-color: #444444
            color: white

            &:hover
                background-color: #2e2e2e

            &:active
                color: whitesmoke
                background-color: #000000

        *:not(:last-child)
            margin-bottom: 10px

.game-page
    min-width: 250px

    .link-container
        display: flex
        flex-direction: column

        a:not(:last-child)
            margin-bottom: 10px

.game
    width: 900px
    min-height: 600px
    background-color: whitesmoke
    position: relative
    display: grid
    align-items: center
    margin: 0 auto;

    .my-stats
    .enemy-stats
        position: absolute
        background-color: white
        border-radius: 10px
        min-width: 120px
        box-shadow: 0 0 10px 0px #afafaf

    .my-stats
        bottom: 15px
        right: 15px

    .enemy-stats
        top: 15px
        left: 15px

        &.attack-mode
            background-color: tomato
            cursor: pointer
            color: white

            &:hover
                opacity: 0.7

    .end-turn
        position: absolute
        top: calc(50% - 25px)
        right: 8px
        min-width: 120px
        box-shadow: 0 0 10px 0px #afafaf

    .cards-container
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto;
        flex-wrap: wrap;
        max-width: 70%;

    .field

        .enemy-field.attack-mode div
            background-color: tomato
            cursor: pointer

            &:hover
                opacity: 0.7

        .friendly-field, .enemy-field
            display: grid
            grid-auto-flow: column
            grid-gap: 5px
            justify-items: center
            width: 70%
            margin: 9px auto

        .field-item
            background-color: lightgrey
            width: 120px
            height: 150px
            display: grid
            justify-items: center
            align-items: center

    .card
        width: 90px
        height: 110px
        border: 1px solid black
        position: relative
        bottom: 0
        display: inline-block

        &:not(:last-child)
            margin-right: 2px

        .spacer
            height: 10px

        button
            border: none
            border-radius: 2px
            padding: 5px
            min-width: auto
            width: 90%
            font-variant: small-caps

.game-list-container
    border: 1px solid grey
    list-style-type: none

    .game-list-item
        display: flex
        justify-content: space-between
        align-items: center

.game-over-container
    position: fixed
    width: 80vw
    height: 50vh
    background-color: white
    border: 1px solid grey
    text-align: center
    z-index: 10000
    top: 25vh
    left: 10vw
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column